header

main.pure-g
  // Row
  .pure-u-1-3.ripple
    i.fa.fa-power-off(data-method="System.Shutdown")
  .pure-u-1-3.ripple
    i.fa.fa-arrow-up(data-method="Input.Up")
  .pure-u-1-3.ripple
    i.fa.fa-home(data-method="Input.Home")

  // Row
  .pure-u-1-3.ripple
    i.fa.fa-arrow-left(data-method="Input.Left")
  .pure-u-1-3.ripple
    i.fa.fa-check(data-method="Input.Select")
  .pure-u-1-3.ripple
    i.fa.fa-arrow-right(data-method="Input.Right")

  // Row
  .pure-u-1-3.ripple
    i.fa.fa-bars(data-method="Input.ContextMenu")
  .pure-u-1-3.ripple
    i.fa.fa-arrow-down(data-method="Input.Down")
  .pure-u-1-3.ripple
    i.fa.fa-undo(data-method="Input.Back")

  // Row
  .pure-u-1-3.ripple
    i.fa.fa-backward(data-method="Player.SetSpeed")
  .pure-u-1-3.ripple
    i.fa.fa-play(data-method="Player.PlayPause")
  .pure-u-1-3.ripple
    i.fa.fa-forward(data-method="Player.SetSpeed")

footer