header
main.pure-g
  .pure-u-1-3
    div Volume
      h1 -
  .pure-u-1-3
    div
      h1 ⬆
  .pure-u-1-3
    div Volume
      h1 +

  .pure-u-1-3
    div
      h1 ⬅
  .pure-u-1-3
    div Select
  .pure-u-1-3
    div
      h1 ➡

  .pure-u-1-3
    div Menu
  .pure-u-1-3
    div
      h1 ⬇
  .pure-u-1-3
    div Back

  .pure-u-1-3
    div
      h1 ◀◀
  .pure-u-1-3
    div
      h1 ▶
  .pure-u-1-3
    div
      h1 ▶▶
footer